<div class="back">

</div>
<div class="hh-container-classes">
    <div class="row">
        <div class="col-md-4">
                <mat-card class="hh-classes" id="class-1">
                    <div class="row">
                        <a href="#" class="hh-classesName" >Class 12.1</a>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                    <div class="row">
                        <label for="" class="membersClass">12 thành viên</label>
                    </div>
                </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="hh-classes" id="class-2">
                <div class="row">
                    <a href="#" class="hh-classesName">Class 12.2</a>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="row">
                    <label for="" class="membersClass">12 thành viên</label>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="hh-classes" id="class-3">
                <div class="row">
                    <a href="#" class="hh-classesName">Class 12.3</a>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="row">
                    <label for="" class="membersClass">12 thành viên</label>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="hh-classes" id="class-4">
                <div class="row">
                    <a href="#" class="hh-classesName">Class 12.4</a>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="row">
                    <label for="" class="membersClass">12 thành viên</label>
                </div>
            </mat-card>
        </div>
        <div class="col-md-4">
            <mat-card class="hh-classes" id="class-5">
                <div class="row">
                    <a href="#" class="hh-classesName">Class 12.5</a>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
                <div class="row">
                    <label for="" class="membersClass">12 thành viên</label>
                </div>
            </mat-card>
        </div>
    </div>
</div>