<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    class="hh-sidenav-content"
  >
    <ul *ngIf="auth.isStudents" class="menuDoc">
      <li>
        <a routerLink="/home"><i class="fas fa-home"></i>Lớp học</a>
      </li>
      <li (click)="openDialog()">
        <a routerLink="/joinClass"
          ><i class="fas fa-plus-square"></i>Tham gia lớp học</a
        >
      </li>
    </ul>
    <ul *ngIf="auth.isTeachers" class="menuDoc">
      <li>
        <a routerLink="/home"><i class="fas fa-home"></i>Quản lí lớp</a>
      </li>
      <li>
        <a routerLink="/createClass"
          ><i class="fas fa-plus-square"></i>Tạo lớp học</a
        >
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <div *ngIf="auth.check_log()">
      <p>
        <button mat-button (click)="sidenav.toggle()">
          <i class="fas fa-bars"></i>
        </button>
      </p>
      <app-nav-top></app-nav-top>
      <app-nav-left></app-nav-left>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
